:root {
    --color-primary: #F96C03;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--color-primary);
}


.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
    position: absolute;
    bottom: 830px;
    width: 100%;
    
}

.navbar-ul {
    display: flex;
    justify-content: center;
    width:180px;
    align-items: center;
    width: auto;
}

.navbar-ul li {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 10px;

}

/* Container */

.container {
    width: 1900px;
    height: 950px; /* 1080px */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    background: url("../img/Pattern-branco.png");
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    position: relative;
}

/* Form */


.form-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.formulario .field label {
    padding-bottom: 15px;
}

.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #ccc;
    border-radius: 20px;
    
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
